
<% if logged_in? %>
  <h1>Welcome to Uniq Flowers App <%= current_user['first_name'] %></h1>

  <section class="controls">
     <form action="/sessions" method="POST">
      <input type="hidden" name="_method" value="delete">
      <button class = "btn">Logout</button>
     </form>
     <br>
     <a href="/flowers/new">Add new Flower </a>

  <section class="flowers">
   <% flowers.each do |flower| %>
    <section class="flower">
      <header>
        <h2><%= flower['name'] %></h2>
        <section class="controls">
        <a href="/flowers/<%= flower['id']%>/edit">Edit</a>
        <form action="flowers/<%= flower['id']%>" method="POST">
         <input type="hidden" name="_method" value="delete">
        <button>Delete</button>
        </form>
        </section>
       </header>
      <img src="<%= flower['image_url'] %>" alt="">
      <footer>
        <h4>Region: <%= flower['region'] %></h4>
        <h4>Family: <%= flower['family'] %></h4>
       </footer>
    </section>
  <% end %>
</section>
<% else %>
  <h1> Uniq Flowers App</h1>
   <div class="a">
   <p> Hi Visitor. Welcome to Uniq flowers collections. Please Sign up to explore further.</p>
  <a href="/users/new">Sign Up</a>
  <p>If you are an existing user, use existing Login credentials. </p>
  <a href="/sessions/new">Login</a>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
  <img src="https://thumbs.gfycat.com/GlitteringDependentIchneumonfly.webp" alt="">
   <%# <br>
   <br>
   <br>
     <p>If you do not want to Signup, you can still view flower collections by using the search option.</p>
     <p>Some unique flowers collection being Monkey orchid, Flying Duck, Swaddled Babies etc. For more, Signup</p>
     <form action="/search"method="get">
       <input type="text" name="name">
         <button>Search</button>
     </form> %>
      <br>
      <br>
      <br>
      <br>
      <a href="/more">Click Here for More</a>
   </div>
<% end %>
